---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Lukas Belka</h1>
			<p>
				I'm a multidisciplined certified Data Analyst who works as an Analytics Developer in the insurance industry. My focus is
				on the whole data end-to-end process. Before I started programming and wrangling data, I worked as a project manager
				in the primary and reinsurance industry for more than a decade.
			</p>
			<p>
			My stack is mainly R (Shiny-App) and SQL (Snowflake, DBeaver).
			I use Python for data cleaning and transformation and in addition
			to that I support my colleagues in Power BI.
			</p>
			<p>
			You can read more <a href="/about">about me</a>, check out my work or screen <a href="/blog">my blog</a>
			</p>
		</main>
		<Footer>
		<Footer />
	</body>
</html>
